<?php

return array(
    'denner_client' => array(
        'clients' => array(
            'Denner\Client\AssetsClient' => array(
                'base_url' => 'http://denner-assets.public.web01.detailnet.me/api/',
                'app_id' => 'change-me',
                'app_key' => 'change-me',
            ),
        ),
    ),
);
