<?php

return array(
    'jumbo_client' => array(
        'clients' => array(
            'Jumbo\Client\AssetsClient' => array(
                'base_uri' => 'http://jumbo-assets.public.web02.detailnet.me/api/',
                'app_id' => 'change-me',
                'app_key' => 'change-me',
            ),
        ),
    ),
);
